body{
    background-color: blueviolet;

}
h1{
    color:cadetblue;
    background-color: indigo;

}
#Show_sketch{
    float: right;
}
canvas{
    border: 5px solid blue;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 4s;
    margin-top: 50px;
    animation-iteration-count: infinite;

}
@keyframes example{
    from{box-shadow:   3px 3px indigo, -1em 0 .4em blue;  }
    to{box-shadow:   3px 3px rgb(255, 0, 128), -1em 0 .4em rgb(9, 226, 255);}
}